.entire_cont{
    background-color: black !important;
    color:rgb(190, 64, 85) !important;
}

h1{
    font-size: 19px;
}

*img{
    width: 120px !important;
    margin: 10px;
}
        #class24{
            display:block;
            margin-left:auto;
            margin-right:auto;
            outline:1rem;
            border-radius: 2%;
        }
        .flexcontainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            height: 500px;
            gap: 20px;
            color:rgb(190, 64, 85) !important;
        
        }
        
        .flex1 {
            outline: solid;
            box-shadow: rgb(255, 255, 255);
            box-shadow: 2px 2px 2px;
            width: 200px;
            border-radius: 10px;
            align-items: center;
        
        }
        
        #class1 {
            font-size: 25px;
            font-family: 'Times New Roman', Times, serif;
            font-display: auto;
        }
        
        #see1 {
            background-color: rgb(255, 255, 255);
            padding: 10px;
            color: rgb(255, 255, 255);
            width: 200px;
            text-align: center;
        }
        
        
        .img-flex{
            width: 200px !important;
            height: 200px;
            border-radius: 10px;
            
        }
        h1{
            font-size: 30px;
            background-color: powederblue;
            text-align: center;
        
        }
        h1:hover{
            font-size:40px ;
        }
        #class1:hover{
            font-size: 30px;
        }
        nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .logo{
            width: 150px;
            color:white;
        }
        nav ul li{
            display: inline-block;
            list-style: none;
            margin: 10px 20px;
        }
        .loosu{
            color:white;
        }
        nav ul li a{
            color: #fff;
            text-decoration: none;
            font-size: 23px;
            position: relative;
        }
        nav ul li a::after{
            content: '';
            width: 0;
            height: 3px;
            background-color: #ff004f;
            position: absolute;
            left: 0%;
            bottom: -6px;
            transition: 0.7s;
        }
        nav ul li a:hover::after{
            width: 100%;
        }
        .flex1 h1{
            padding-top:7px;
        }
        #head_1{
            color:rgb(190, 64, 85) !important;
        }
        footer {
            text-align: center;
            padding: 20px;
            background-color: #333;
            color: #fff;
          }